@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
}

#background {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.symbol {
  position: absolute;
  font-size: 1rem;
  opacity: 0;
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(var(--random-x), var(--random-y), 0) scale(var(--random-scale));
    opacity: 0;
  }
}

#root {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 80%;
  max-width: 600px;
  color: #00ff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  margin-bottom: 1.5rem;
}

.all-or-nothing {
  margin-bottom: 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #00ff00;
  animation: typing 7s steps(40, end) infinite, blink-caret 1s step-end infinite; /* Замедление анимации */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}

.coming-soon {
  margin-top: 2rem; /* Отступ от бегущей строки */
  font-size: 2rem; /* Увеличение размера текста */
  color: gray;
  animation: fade 2s infinite alternate; /* Анимация затухания и появления */
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

button {
  margin-top: 7rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent; /* Сделать фон кнопки прозрачным */
  color: black;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  background-color: transparent;
  color: #00ff00;
  cursor: not-allowed;
  font-size: 1.5rem;
}

/* Стиль для кнопки с изображением */
.join-button-img {
  width: 80px;
  height: auto;
  border-radius: 50%; /* Круглая форма */
  background-color: #00ff00; /* Сделать фон изображения прозрачным */
  animation: glow 3s infinite alternate; /* Добавить анимацию свечения */
}

/* Анимация для свечения кнопки */
@keyframes glow {
  from {
    box-shadow: 0 0 10px #00ff00;
  }
  to {
    box-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #00ff00;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #00ff00;
}

.subscribe-link {
  color: #00ff00;
  text-decoration: none;
  display: block;
  margin: 1rem 0;
}

.claim-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #00ff00;
  color: black;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Press Start 2P', cursive;
}

.claim-button:hover {
  transform: scale(1.05);
}

.claim-button:active {
  transform: scale(0.95);
}

/* Адаптивность */
@media (max-width: 768px) {
  #root {
    width: 90%;
    padding: 1.5rem;
  }

  .all-or-nothing, .countdown, button, .modal-content {
    font-size: 0.875rem;
  }

  button, .claim-button {
    padding: 0.5rem 1rem;
  }
}
